.secondhalfcontainer {
    display: flex;
    width: 100%;
    position: relative;
    top: 580px;
    height: auto
}

.availablehouseicon {
    position:relative;
    left:70px;
    height: 90px;
    width: 80px;
    top:60px

}

.availablehousestitle {
    font-family: "qwigley";
    font-size: 45px;
    color: #000000;
    left: 160px;
    top: 95px;
    position: absolute;
}

.availableimgcontainer {
    width: 400px;
    height:980px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    top:50px;
    left: 40px;
}

.availableimages {
    margin-top: 30px;
    margin-right: 10px;
    height: 260px;
    width:360px;
    cursor: pointer;

}
.cardheader{
    height: 40px;
display: flex;
}
.cardlogo{
    width:40px;
    height:30px;
    border-radius:50%;
    margin-left: 20px;
    margin-top: 10px;
}
.cardtitle{
    position: relative;
    left: 50px;
    font-family: georgia;
    font-size: 20px;
}
.cardtitle span{
    font-weight: 400;
    color: gray;
    font-family:Arial;
    font-size: 15px;

}
.more{
    height: 200px;
    color: gray;
    padding-left: 70px;
    margin-left: 70px;

}


.availableimg{
    height: 180px;
    padding-top: 10px;
}

.availableimages:hover {
    transform: scale(0.9);
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      


}

.aboutustitle {

    position: absolute;
    left: 535px;
    top: 87px;
    font-family: "qwigley";
    font-size: 45px;
    color: #000000
}

.aboutuscontentbox {
    position: absolute;
    width: 520px;
    height: 640px;
    left: 445px;
    top: 125px;
}

.aboutuscontent {

    font-family: georgia;
    font-size: 18px;
    text-indent: 20px;
    margin: 20px;
    line-height: 38px;
    text-align: justify;
}

/* .reviewtitle {

    position: absolute;
    left: 420px;
    top: 780px;
    font-size: 33px
}

.reviewcontentbox1 {
    position: absolute;
    width: 410px;
    height: 110px;
    left: 410px;
    top: 850px;
    padding-left: 130px;
    padding-top: 20px;
    font-size: 23px;
    background: lightgreen
}

.reviewhouseicon1 {

    position: absolute;
    left: 10px;
    top: 5px;
    height: 80px
}

.reviewcontentbox1 span {
    position: absolute;
    left: 300px
}

.reviewcontent1 {
    position: absolute;
    left: 10px;
    top: 70px;
    font-size: 18px
}

.reviewcontentbox2 {
    position: absolute;
    width: 410px;
    height: 110px;
    left: 410px;
    top: 1000px;
    padding-left: 130px;
    padding-top: 20px;
    font-size: 23px;
    background: lightgreen
}

.reviewhouseicon2 {

    position: absolute;
    left: 10px;
    top: 5px;
    height: 80px
}

.reviewcontentbox2 span {
    position: absolute;
    left: 300px
}

.reviewcontent2 {
    position: absolute;
    left: 10px;
    top: 70px;
    font-size: 18px
} */

.completedhouseicon {
    position:relative;
    left:600px;
    height: 90px;
    width: 80px;
    top:60px
}

.completedhousestitle {
    font-family: "qwigley";
    font-size: 45px;
    color: #000000;
    left: 1100px;
    top: 95px;
    position: absolute;
}

.completedimgcontainer {
    width: 400px;
    height: 980px;
    left: 600px;
    top:50px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

.completedimages:hover {
    transform: scale(0.9);
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);


}

.completedimages {
    margin-top: 30px;
    margin-right: 10px;
    height: 260px;
    width:360px;
    cursor: pointer;

}
.completedimg{
    height: 180px;
    padding-top: 10px;
    

}


