.secondhalfcontainer {
    display: flex;
    width: 100%;
    position: relative;
    top: 580px;
    height: auto
}

.availablehouseicon {
    position:relative;
    left:70px;
    height: 90px;
    width: 80px;
    top:10px

}

.availablehousestitle {
    font-family: "qwigley";
    font-size: 45px;
    color: #000000;
    left: 160px;
    top: 45px;
    position: absolute;
}

.availableimgcontainer {
    width: 390px;
    height: 1030px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    left: 40px;
}

.availableimages {
    padding-left: 10px;
    padding-top: 20px
}

.availableimages:hover {
    transform: scale(0.9);


}

.availableimg {
    height: 300px;
    width: 350px;
    border-radius: 5px;
    border: 1px solid gray;
    position: relative
}

.availablename {
    width: 200px;
    background-color: gray;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
    position: relative;
    margin-top: -45px;
    margin-left: 70px
}

.aboutustitle {

    position: absolute;
    left: 535px;
    top: 37px;
    font-family: "qwigley";
    font-size: 45px;
    color: #000000
}

.aboutuscontentbox {
    position: absolute;
    width: 500px;
    height: 640px;
    left: 455px;
    top: 95px;
}

.aboutuscontent {

    font-family: georgia;
    font-size: 18px;
    text-indent: 20px;
    margin: 20px;
    line-height: 38px;
    text-align: justify;
}

/* .reviewtitle {

    position: absolute;
    left: 420px;
    top: 780px;
    font-size: 33px
}

.reviewcontentbox1 {
    position: absolute;
    width: 410px;
    height: 110px;
    left: 410px;
    top: 850px;
    padding-left: 130px;
    padding-top: 20px;
    font-size: 23px;
    background: lightgreen
}

.reviewhouseicon1 {

    position: absolute;
    left: 10px;
    top: 5px;
    height: 80px
}

.reviewcontentbox1 span {
    position: absolute;
    left: 300px
}

.reviewcontent1 {
    position: absolute;
    left: 10px;
    top: 70px;
    font-size: 18px
}

.reviewcontentbox2 {
    position: absolute;
    width: 410px;
    height: 110px;
    left: 410px;
    top: 1000px;
    padding-left: 130px;
    padding-top: 20px;
    font-size: 23px;
    background: lightgreen
}

.reviewhouseicon2 {

    position: absolute;
    left: 10px;
    top: 5px;
    height: 80px
}

.reviewcontentbox2 span {
    position: absolute;
    left: 300px
}

.reviewcontent2 {
    position: absolute;
    left: 10px;
    top: 70px;
    font-size: 18px
} */

.completedhouseicon {
    position:relative;
    left:630px;
    height: 90px;
    width: 80px;
    top:10px
}

.completedhousestitle {
    font-family: "qwigley";
    font-size: 45px;
    color: #000000;
    left: 1120px;
    top: 45px;
    position: absolute;
}

.completedimgcontainer {
    width: 390px;
    height: 1030px;
    left: 610px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

.completedimages {
    padding-left: 10px;
    padding-top: 20px
}

.completedimages:hover {
    transform: scale(0.9);


}

.completedimg {
    height: 300px;
    width: 350px;
    border-radius: 5px;
    border: 1px solid gray;
    position: relative
}

.completedname {
    width: 200px;
    background-color: gray;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
    position: relative;
    margin-top: -45px;
    margin-left: 70px
}