.slider img{
    position: absolute; 
        width: 870px; 
      height: 460px;
      left: 40px;
      top: 130px; 
      border-radius: 20px;
      border: 1px solid gray;
      cursor:pointer
}

.ongoing {
    position: absolute;
    width: 244.66px;
    height: 128.19px;
    left: 10px;
    top: 90px;
    font-family: 'Qwigley';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 90px;
    color: #FFFFFF;
    mix-blend-mode: darken;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(-36.54deg);
   -webkit-text-stroke-color: #9D4949;
   -webkit-text-stroke-width: 1px;


    

}
.morebutton {
    position: absolute;
    width:150px;
    left: 650px;
    top: 740px;
    border-radius: 5px;
    border: 1px solid gray;
    cursor:pointer;
    background-color:moccasin;
    color: black;
    font-size:18px;
    margin-top: -240px;

}
.arrowContainer {
    position: absolute;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    width: 870px;
    top: 360px;
    left: 40px;
    color: white;
    

}
.communityName {
    position: absolute;
    width: 350px;
    height: 41px;
    left: 920px;
    top: 100px;
    font-style: normal;
    font-weight: 400;
    font-family: "qwigley";
    font-size: 40px;
    line-height: 45px;
    color: #000000;
}

.descriptionContent{
    position: absolute;
    width: 325px;
    height: 300px;
    left: 919px;
    top: 145px;
   color:black;
   font-size: 14px;
   text-indent: 65px;
   font-family:initial;
   text-align:justify
   

}



.booking{
    position: absolute;
    font-family: "qwigley";
    font-size: 40px;
    top: 450px;
    left: 920px;
}
.bookingnum {
    position: absolute;
    background-color: lightgreen;
   padding: 15px;
   word-spacing: 10px;
    width: 300px;
    height: 80px;
    top: 500px;
    left: 920px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 21px;
    padding-left: 20px;


}

