

.sliderimages{
    
    position: absolute;
    top: 130px;
    left: 40px;
    transition: none;
}
.sliderimg{
    width: 870px; 
    height: 460px;
    border-radius: 20px;
    border: 1px solid gray;
    cursor:pointer
}
.sliderimagesnone{
   display: none;
}

.ongoing {
    position: absolute;
    width: 244.66px;
    height: 128.19px;
    left: -30px;
    top: -40px;
    font-family: 'Qwigley';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 90px;
    color: #FFFFFF;
    mix-blend-mode: darken;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(-36.54deg);
   -webkit-text-stroke-color: #9D4949;
   -webkit-text-stroke-width: 1px;


    

}
.morebutton {
    position: absolute;
    width:150px;
    left: 550px;
    top: 600px;
    border-radius: 5px;
    border: 1px solid gray;
    cursor:pointer;
    background-color:moccasin;
    color: black;
    font-size:18px;
    margin-top: -240px;

}
.arrowcontainer {
    position: absolute;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    width: 870px;
    top: 230px;
    left: 1px;
    color: white;
    

}
.communame{
  width:300px;
  font-family:"qwigley";
  font-size:40px;
  position:absolute;
  top:-35px;
  left:880px;
}
.descriptioncontent{
    position: absolute;
    width: 325px;
    height: 300px;
    left: 885px;
    top: 10px;
   color:black;
   font-size: 14px;
   text-indent: 65px;
   font-family:initial;
   text-align:justify
   

}
.booking{
    position: absolute;
    width: 200px;
    font-family: "qwigley";
    font-size: 40px;
    top: 330px;
    left: 900px;
}
.bookingnum {
    position: absolute;
    background-color: lightgreen;
   padding: 15px;
    width: 300px;
    height: 80px;
    top: 380px;
    left: 900px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 21px;
    padding-left: 20px;


} 

