.wholedivision{
    position: relative;
    height: 1800px;
}.communityname {
    position: absolute;
    width: 500px;
    height: 20px;
    left: 800px;
    top: 110px;
    font-family: "qwigley";
    font-size: 40px
}
.communitydescription{
    position: absolute;
    line-height: 20px;
    top: 150px;
    left: 610px;
    width: 750px;
    font-family: Georgia;
    font-size: 15px;
    text-align: justify;
    
}
.housescontainer {
    width:1400px ;
    height: 900px;
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 600px;
    margin-top: -20px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    top:340px
}
.houses{
    height: 330px;
    width: 370px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
border-radius: 10px;
}

.houses .housesname{
    position: relative;
    font-size: 20px;
    left: 140px;
}

.housesimg {
    padding-left: 5px;
    width: 363px;
    height: 220px;
    cursor: pointer
}



.mainhousename {
    position: absolute;
    width: 500px;
    height: 20px;
    left: 180px;
    top: 110px;
    font-family: "qwigley";
    font-size: 40px;
    list-style: none;

}

.mainhouseimg {
    position: absolute;
    width: 570px;
    height: 400px;
    left: 20px;
    top: 150px;
    border-radius: 10px;
    border: 1px solid gray;
    cursor: pointer;

}

.moredetailsbutton {
    position: absolute;
    border: 1px solid white;
    border-radius: 5px;
    width: 150px;
    height: 30px;
    left: 430px;
    top: 70px;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 3px 3px rgb(164, 156, 156);
}

.backgroundcolor {
    width: 570px;
    height: 1600px;
    position: absolute;
    left: 20px;
    top: 170px
}

.description {
    position: absolute;
    font-family: 'Playfair Display';
    font-size: 15px;
    margin-top: 100px;
    margin-left: 50px;
    width: 555px;
    top: 50px;
    left: 10px;
    line-height: 30px;

}

.description span{
    font-family: 'Playfair Display';
    font-size: 20px;
    position: relative;
    top: -20px;
}
.descriptiontable{
    position: "relative";
    width: 100px;
    font-size: 13px;
}
.tablebody{
    width: 360px;
     display: flex;
      justify-content: space-between;
      height: 18px;

}
.firstrow{
    width: 120px;
    display: flex;
    justify-content: left
}
.secondrow{
    width: 175px;
    display: flex;
    justify-content: left
}
.thirdrow{
    width: 170px;
    display: flex;
    justify-content: left 
}

.communitypagebooking {
    position: absolute;
    background-color: #3b7dbb66;
    width: 350px;
    height: 80px;
    top: 590px;
    left: 120px;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 22px;
    padding: 5px;
    word-spacing: 10px;



}

.communitypagebooking span {
    position: absolute;
    left: 50px
}

.nearby {
    position: absolute;
    width: 600px;
    height: 80px;
    top: 1200px;
    left: 50px;
    font-family: 'Playfair Display';
    font-size: 30px;
    font-weight: 800;



}

.nearby ul {
    position: absolute;
    top: 90px;
    width: 500px;
    left: 10px;
    display: flex;
    font-family: 'Playfair Display';
    font-size: 17px;
    list-style-type: none;
    justify-content: space-between;
    font-weight: 400;


}


.features {
    position: absolute;
    width: 250px;
    height: 44px;
    left: 50px;
    top: 690px;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 60px;
    color: #000000;
    font-family: Playfair Display;
}

.features .points {
    position: absolute;
    width: 233px;
    left: 80px;
    font-family: 'georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #000000;
}



.overview img {
    position: absolute;
    top: 1350px;
    left: 600px;
    border-radius: 10px;
    border: 1px solid gray;
    width: 390px;
    height: 400px;
}

.overview p {
    position: absolute;
    top: 1300px;
    left: 600px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
}

.location img {
    position: absolute;
    top: 1350px;
    left: 1000px;
    border-radius: 10px;
    border: 1px solid gray;
    width: 390px;
    height: 400px;
}
.location p {
    position: absolute;
    top: 1300px;
    left: 1000px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
}

.houses:hover {
    transform: scale(0.9);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}