.wholedivision{
    position: relative;
    top:400px;
}.communityname {
    position: absolute;
    width: 500px;
    height: 20px;
    left: 50px;
    top: -280px;
    font-family: "qwigley";
    font-size: 40px
}
.communitydescription{
    position: absolute;
    line-height: 20px;
    top: -230px;
    left: 20px;
    width: 600px;
    font-family: Georgia;
    font-size: 13px;
    text-align: justify;
    
}
.housescontainer {
    width: 630px;
    height: 900px;
    display: grid;
    gap: 10px 50px;
    grid-template-columns: auto auto;
    padding-left: 10px;
    margin-top: -20px;
    overflow-y: auto;
    overflow-x: hidden
}

.housesname {
    font-family: Playfair Display;
    font-size: 20px;
    width: 250px;
    position: relative;
    left: 50px;
    top: -5px
}

.housesimg {
    width: 270px;
    height: 200px;
    border-radius: 5px;
    border: 1px solid gray;
    cursor: pointer
}



.mainhousename {
    position: absolute;
    width: 500px;
    height: 20px;
    left: 900px;
    top: -270px;
    font-size: 20px;
    list-style: none;

}

.mainhouseimg {
    position: absolute;
    width: 590px;
    height: 360px;
    left: 655px;
    top: -240px;
    border-radius: 10px;
    border: 1px solid gray;
    cursor: pointer;

}

.moredetailsbutton {
    position: absolute;
    width: 150px;
    height: 20px;
    left: 1030px;
    top: 40px;
    font-size: 15px;
    cursor: pointer
}

.backgroundcolor {
    width: 590px;
    height: 1160px;
    background-color: #BCFBEC;
    position: absolute;
    left: 655px;
    top: -270px
}

.description {
    position: absolute;
    font-family: 'Playfair Display';
    font-size: 15px;
    margin-top: 100px;
    margin-left: 50px;
    width: 555px;
    top: 50px;
    left: 640px;
    line-height: 30px;

}

.description span{
    font-family: 'Playfair Display';
    font-size: 20px;
    position: relative;
    top: -20px;
}

.communitypagebooking {
    position: absolute;
    background-color: lightgreen;
    width: 280px;
    height: 80px;
    top: 290px;
    left: 900px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 22px;
    padding: 5px;



}

.communitypagebooking span {
    position: absolute;
    left: 50px
}

.nearby {
    position: absolute;
    width: 600px;
    height: 80px;
    top: 390px;
    left: 900px;
    font-family: 'Playfair Display';
    font-size: 30px;



}

.nearby ul {
    position: absolute;
    top: 40px;
    width: 500px;
    left: -200px;
    display: flex;
    font-family: 'Playfair Display';
    font-size: 17px;
    list-style-type: none;
    justify-content: space-between;

}


.features {
    position: absolute;
    width: 250px;
    height: 44px;
    left: 30px;
    top: 950px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 60px;
    color: #000000;
}

.features .points {
    position: absolute;
    width: 233px;
    left: 50px;
    font-family: 'calibri';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #000000;
}



.overview img {
    position: absolute;
    top: 1030px;
    left: 350px;
    border-radius: 10px;
    border: 1px solid gray;
    width: 420px;
    height: 300px;
}

.overview p {
    position: absolute;
    top: 970px;
    left: 360px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
}

.location img {
    position: absolute;
    top: 1030px;
    left: 800px;
    border-radius: 10px;
    border: 1px solid gray;
    width: 420px;
    height: 300px;
}
.location p {
    position: absolute;
    top: 970px;
    left: 800px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
}

.houses:hover {
    transform: scale(0.9);
}