.houseplan p {
    position: absolute;
    width: 600px;
    top: 780px;
    left: 20px;
    font-family: 'Qwigley';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: black;

}
.houseplan h5 {
    position: absolute;
    width: 600px;
    top: 710px;
    left: 20px;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: black;

}