.footerTopBar {
    position: absolute;
    width: 100%;
    height: 28px;
    top: 1722px;
    background: #01326066;
    
}

.footerMainBar {
    position: absolute;
    width: 100%;
    height: 160px;
    top: 1750px;
    background:  #013260B2;
}

.address {
    position: absolute;
    left: 12px;
    top: 5px;
    font-family: "qwigley";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: white;
}

.address p {
    position: absolute;
    width: 338px;
    height: 114px;
    left: 5px;
    top: 45px;
    font-family: 'PT Serif Caption';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: white;
}

.insideBox {
    position: relative;
    width: 680px;
    height: 80px;
    background-color: #C4C4C4;
    border-radius: 20px;
    top: 45px;
    left: 320px;
   
    padding: 10px;
}
.insideBox h1{
    left:120px;
    position: relative;
    font-family: "qwigley";
    font-size: 70px;
    color:#012060;
bottom: 10px;    
    
}


.contact {
    position: absolute;
    width: 274px;
    height: 20px;
    left: 1090px;
    top: -5px;
    font-style: normal;
    font-weight: 400;
    font-family: "qwigley";
    font-size: 40px;
    line-height: 45px;
    color: #FFFFFF;
    margin: 10px;
}

.contact p {
    position: absolute;
    width: 323px;
    height: 81px;
    left: 20px;
    top: 35px;
    font-family: 'PT Serif Caption';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.phone {
    position: absolute;
    width: 79px;
    height: 25px;
    left: 1120px;
    top: 122px;
    font-family: 'PT Serif Caption';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.phone p {
    position: absolute;
    color: #FFFFFF;
    width: 300px;
    left: 60px;
    top: -5px;
    font-size: 20px;

}

.footerBottomBar {
    position: absolute;
    width: 100%;
    height: 29px;
    top: 1910px;
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    background-color:#012060;
    text-align: center;
}