.headermainbar {

  position: fixed;

  z-index: 1;
  
  width: 100%;

  height: 80px;

  top: -6px;

  background: #012060;

  padding-left: 90px;

}



.headermainbar img {

  position: absolute;

  width: 70px;

  height: 70px;

  left: 10px;

  margin-top: 5px;

}

.headermainbar p {

  font-family: 'Playfair Display';

  font-size: 40px;

  margin-top: 0.1px;
  
  color: white;

}

.headermainbar a:hover{

text-decoration: underline;

text-decoration-color: white;

color: yellow;

}
.headermainbar .anchortags{
  width: 1000px;

  display: flex;

  justify-content: space-around;

  font-family: "qwigley";

  font-style: normal;
 
  font-weight: 400;

  font-size: 35px;

 
}
.anchortags a{
  text-decoration:none;

  color: white;
  
  cursor: pointer;

}


.headerbottombar1 {
  
  position: fixed;

  z-index: 1;

  width: 100%;

  height: 21px;

  left: 0.3px;

  top: 70px;

  background: #013260B2;


}

.headerbottombar2 {

  position: fixed; 

  z-index: 1;

  width: 100%;

  height: 11px;

  left: 0.3px;

  top: 91px;
  
  background: #01326066;
  
  
}
.closeButton
{
  cursor:pointer;
  margin-right:10px;
  position:absolute;
  right:-10px
}
  .card
  { width: 600px;
    height: 550px;
    margin: 50px 50px;
    box-shadow: 0 9px 5px 0 rgba(0,0,0,0.2)
  }
  .cardheader{
    height: 40px;
display: flex;
}
.cardlogo{
  width:40px;
  height:30px;
  border-radius:50%;
  margin-left: 20px;
  margin-top: 10px;
}
.cardtitle{
  position: relative;
  left: 50px;
  font-family: georgia;
  font-size: 20px;
}
.cardtitle span{
  font-weight: 400;
  color: gray;
  font-family:Arial;
  font-size: 15px;

}
.homeimg{
  height: 300px;
  padding-top: 10px;
}
.cardcontentcontainer{
  border:2px solid #01326066;
  width:580px;
  margin-left:-5px
}
.cardcontentheading{
  color:black;
  font-weight:800;
  font-family:georgia;
  margin-left:180px
}