 
.container form .subscribe {

  position: absolute;

  width: 169px;

  height: 23px;

  left: 1200px;

  top: 0.1px;


  font-style: normal;

  font-weight: 400;

  font-size: 15px;

  line-height: 30px;

  color: white;

}

.container form .email {

  position: absolute;

  width: 86px;

  height: 23px;

  left: 1130px;

  top: 25px;


  font-style: normal;

  font-weight: 400;

  font-size: 20px;

  line-height: 30px;

  color: white;
}

.container form .box {

  position: absolute;

  width: 170px;
  
  height: 27px;

  left: 1195px;

  top: 25px;

  background: rgba(255, 253, 253, 0.02);

  border: 1px solid yellow;

  color:white;

  box-sizing: border-box;
}

.container form .button {

  position: absolute;

  cursor:pointer;

  width: 30px;

  height: 27px;

  left: 1370px;

  top: 25px;

  background-color: #012060;

  border-radius: 5px;

  border-color:  white;

  color: white;

  font-size: 13px;

}
.container form .error{

position:absolute;

width:305px;

color:red;

font-size:18px;

left:1040px;

top:55px

}

.triangle-up {

  z-index: 1;

  width: 0;

  height: 0;

  border-left: 10px solid transparent;

  border-right: 10px solid transparent;

  border-bottom: 20px solid lightgray;

  position: relative;

  left:1280px;

  top:5px;

  transform:rotate(45deg);

}
.popup {

  position: fixed;

  z-index: 1;

  padding: 20px;

  background:lightgray;

  border-radius: 10px;

  border-top: none;

  width: 25%;

  height: 50px;

  position: relative;

  top:-5px;

  left:985px;
}



.popup .content {

  white-space: nowrap;
  
  overflow: hidden;    
  
  font-family: 'Times New Roman', Times, serif; 
  
  font-size: 16px;
  
  color: green
  
  }
  
  /* Animation */
  
  .popup .content {

  animation: animated-text 2s linear 0s 1 normal both
              
  }

  /* text animation */
  
  @keyframes animated-text{
    
    from{width: 0;}
    
    to{width: 456px;}
  }

.popup .close {

  position: absolute;

  top: 5px;

  right: 5px;

  font-size: 20px;

  font-weight: bold;
  
  text-decoration: none;
  
  color: #333;
}

.popup .close:hover{

color: red

}




