.mapp .firstmap {
    position: absolute;
    width: 320px;
    height: 300px;
    left: 920px;
    top: 145px;
    background: url('./pictures/constructionmap_1.jpg');
    border: solid grey;

    border-radius: 10px;

}

.mapp p {
    position: absolute;
    width: 350px;
    height: 41px;
    left: 920px;
    top: 60px;
    font-family: 'Qwigley';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 45px;
    color: #000000;
}

.mapp .lake {
    position: absolute;
    width: 350px;
    height: 41px;
    left: 920px;
    top: 460px;
    font-family: 'Qwigley';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    color: #000000;
}

.firstbooking {
    position: absolute;
    background-color: lightgreen;
    border: solid grey;
    width: 300px;
    height: 80px;
    top: 500px;
    left: 920px;
    border-radius: 10px;
    font-family: 'qwigley';
    font-size: 30px;
    padding-left: 20px;



}

.firstbooking span {
    color: lightgreen;
}