.buttoncontainer {
    position: absolute;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    width: 870px;
    top: 360px;
    left: 22px;
    font-size: 2em;
    color: white;
    

}


.morebutt {
    position: absolute;
    width:150px;
    left: 650px;
    top: 740px;
    border-radius: 5px;
    border: 1px solid gray;
 
    background-color: saddlebrown;
    color: black;
    font-size:18px;
    margin-top: -240px;

}

.ongoing {
    position: absolute;

    left: -10px;
    top: 360px;
    font-family: 'Qwigley';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 90px;
    color: green;
    mix-blend-mode: darken;
    margin-top: -240px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(-36.54deg);
}
.location{
    position: absolute;
    width: 325px;
    height: 300px;
    left: 919px;
    top: 145px;
   

    border-radius: 10px;

}

 .loc {
    position: absolute;
    width: 350px;
    height: 41px;
    left: 920px;
    top: 60px;
    font-family: 'Qwigley';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 45px;
    color: #000000;
}
.lake {
    position: absolute;
    width: 350px;
    height: 41px;
    left: 920px;
    top: 460px;
    font-family: 'Qwigley';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    color: #000000;
}
.firstbooking {
    position: absolute;
    background-color: lightgreen;
   
    width: 300px;
    height: 80px;
    top: 500px;
    left: 920px;
    border-radius: 10px;
    font-family: 'qwigley';
    font-size: 30px;
    padding-left: 20px;



}

.firstbooking span {
    color: lightgreen;
}
.descrp{
    position: absolute;
    background-color: skyblue;
    color:white;
   
    width: 850px;
    height: 30px;
    top: 600px;
     left:20px;
    font-size: 25px;
    padding-left: 20px;
    text-align: center;
    
}