.hall3 {
    width: 270px;
    height: 170px;
    top: 210px;
    left: 950px;
    background-image: url('./housedetailsimages/hall 3.jpg');
    position: absolute;
    background-repeat: no-repeat;
    background-size: 270px 170px;
    border-radius: 10px;
    border: 1px solid gray;
}

.kitchen3 {
    width: 270px;
    height: 170px;
    top: 390px;
    left: 950px;
    background-image: url('./housedetailsimages/kitchen 3.jpg');
    position: absolute;
    background-repeat: no-repeat;
    background-size: 270px 170px;
    border-radius: 10px;
    border: 1px solid gray;
}

.bathroom3 {
    width: 270px;
    height: 170px;
    top: 570px;
    left: 950px;
    background-image: url('./housedetailsimages/bathroom 3.jpg');
    position: absolute;
    background-repeat: no-repeat;
    background-size: 270px 170px;
    border-radius: 10px;
    border: 1px solid gray;
}