.community p {
    position: absolute;
    width: 600px;
    top: 90px;
    left: 20px;
    font-family: 'Qwigley';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: black;

}

.community h5 {
    position: absolute;
    width: 600px;
    top: 140px;
    left: 500px;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: black;

}

.usestate1 {
    position: absolute;
    width: 890px;
    height: 470px;
    left: 30px;

    top: 220px;
    border-radius: 10px;
    border: 1px solid gray;
}

.setimage1 {
    position: absolute;
    width: 890px;
    height: 470px;
    left: 30px;

    top: 220px;
    border-radius: 10px;
    border: 1px solid gray;
}


.hall1 {
    width: 270px;
    height: 170px;
    top: 210px;
    left: 950px;
    background-image: url('./housedetailsimages/hall 1.webp');
    position: absolute;
    background-repeat: no-repeat;
    background-size: 270px 170px;
    border-radius: 10px;
    border: 1px solid gray;
}

.kitchen1 {
    width: 270px;
    height: 170px;
    top: 390px;
    left: 950px;
    background-image: url('./housedetailsimages/kitchen 1.jpg');
    position: absolute;
    background-repeat: no-repeat;
    background-size: 270px 170px;
    border-radius: 10px;
    border: 1px solid gray;
}

.bathroom1 {
    width: 270px;
    height: 170px;
    top: 570px;
    left: 950px;
    background-image: url('./housedetailsimages/bathroom 1.webp');
    position: absolute;
    background-repeat: no-repeat;
    background-size: 270px 170px;
    border-radius: 10px;
    border: 1px solid gray;
}

.booking {
    position: absolute;
    background: #D8F0D0;

    border: solid grey;
    width: 275px;
    height: 80px;
    top: 710px;
    left: 595px;
    border-radius: 10px;
    font-family: 'qwigley';
    font-size: 30px;
    padding-left: 20px;



}

.booking span {
    color: #D8F0D0;

}

.houseplan h5 {
    position: absolute;
    width: 600px;
    top: 680px;
    left: 20px;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: black;

}

.houseplan p {
    position: absolute;
    width: 600px;
    top: 780px;
    left: 20px;
    font-family: 'Qwigley';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: black;

}

.twobhk-1 {

    width: 470px;
    height: 670px;
    top: 880px;
    left: 90px;
    background-image: url('./housedetailsimages/2 BHK house-1.webp');
    position: absolute;
    background-repeat: no-repeat;
    background-size: 470px 670px;
}

.threebhk-1 {

    width: 470px;
    height: 670px;
    top: 890px;
    left: 700px;
    background-image: url('./housedetailsimages/3 BHK house-1.jpg');
    position: absolute;
    background-repeat: no-repeat;
    background-size: 470px 670px;
}