.hall5 {
    width: 270px;
    height: 170px;
    top: 210px;
    left: 950px;
    background-image: url('./housedetailsimages/hall 5.jpg');
    position: absolute;
    background-repeat: no-repeat;
    background-size: 270px 170px;
    border-radius: 10px;
    border: 1px solid gray;
}

.kitchen5 {
    width: 270px;
    height: 170px;
    top: 390px;
    left: 950px;
    background-image: url('./housedetailsimages/kitchen 5.webp');
    position: absolute;
    background-repeat: no-repeat;
    background-size: 270px 170px;
    border-radius: 10px;
    border: 1px solid gray;
}

.bathroom5 {
    width: 270px;
    height: 170px;
    top: 570px;
    left: 950px;
    background-image: url('./housedetailsimages/bathroom 5.jpg');
    position: absolute;
    background-repeat: no-repeat;
    background-size: 270px 170px;
    border-radius: 10px;
    border: 1px solid gray;
}
.twobhk-5 {

    width: 470px;
    height: 670px;
    top: 880px;
    left: 90px;
    background-image: url('./pictures/availablehome-5.jpg');
    position: absolute;
    background-repeat: no-repeat;
    background-size: 470px 670px;
}

.threebhk-5 {

    width: 470px;
    height: 670px;
    top: 890px;
    left: 700px;
    background-image: url('./pictures/availablehome-5.jpg');
    position: absolute;
    background-repeat: no-repeat;
    background-size: 470px 670px;
}