
.availablehouses .houseIcon{
    position: absolute;
    left:-40px;
    top:-30px;
    height:90px;
    width:80px;
}
.availablehouses .aaaaa{
    font-family: 'Qwigley';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    color: #000000;
    mix-blend-mode: darken;
    left:40px;
    top:-60px;
    position: absolute;
  
}
.availablehouses{
    position: absolute;
    width: 400px;
    height: 34px;
    left: 60px;
    top: 650px;
    
  
}
 
.availablehouses .home1{
    width:350px;
    height:200px;
    top:930px;
    left:-40px;
    background-image: url('./pictures/availablehome-1.jpg');
    position: absolute;
    background-repeat: no-repeat;
    background-size: 350px;
    border-radius: 10px;
}
.availablehouses .home2{
    width:350px;
    height:200px;
    top:710px;
    left:-40px;
    background-image: url('./pictures/availablehome-2.jpg');
    position: absolute;
    background-repeat: no-repeat;
    background-size: 350px;
    border-radius: 10px;
}
.availablehouses .home3{
    width:350px;
    height:200px;
    top:50px;
    left:-40px;
    background-image: url('./pictures/availablehome-3.jpg');
    position: absolute;
    background-repeat: no-repeat;
    background-size: 350px;
    border-radius: 10px;
}

.availablehouses .home4{
    width:350px;
    height:200px;
    top:270px;
    left:-40px;
    background-image: url('./pictures/availablehome-4.jpg');
    position: absolute;
    background-repeat: no-repeat;
    background-size: 350px;
    border-radius: 10px;
}
.availablehouses .home5{
    width:350px;
    height:200px;
    top:490px;
    left:-40px;
    background-image: url('./pictures/availablehome-5.jpg');
    position: absolute;
    background-repeat: no-repeat;
    background-size: 350px;
    border-radius: 10px;
}

.aboutus{
    position: absolute; 
    width: 250px; 
    height: 44px; 
    left: 410px; 
    top: 640px;
    font-family: 'Qwigley'; 
    font-style: normal; 
    font-weight: 400; 
    font-size: 48px; 
    line-height: 60px;
    color: #000000;


}
.rect {

    position: absolute;
    width: 450px;
    height: 640px;
    left: -15px;
    top: 60px;
    background: rgba(248, 197, 197, 0.22);

}
.rect p{
 position: absolute;
    width: 400px;
    height: 600px;
    left: -15px;
    top: 30px;
    font-family: 'Qwigley'; 
    font-style: normal; 
    font-weight: 400; 
    font-size: 33px; 
    line-height: 40px;
    text-indent: 50px;
    margin: 20px;

}
.reviews{
position: absolute;
width: 400px;
    
    left: 400px;
    
color:black;
top:1350px;
font-family: 'Qwigley'; 
    font-style: normal; 
    font-weight: 400; 
    font-size: 50px; 

}
.reviews .revrect1{
position: absolute;
width: 270px;
    height: 110px;
    left: 10px;
    top:80px;
    padding-left:130px;
    padding-top: 20px;
    font-family: 'Qwigley'; 
    font-style: normal; 
    font-weight: 400; 
    font-size: 33px; 
background: #34C7A433;

line-height: 35px;
}

.reviews .houseIcon{
    position:absolute;
    left:-100px;
    top:-10px;
    height:80px;
    }
    .reviews .revrect1 p{
    position: absolute;

    left: 10px;
    top:60px;
    font-family: 'Qwigley'; 
    font-style: normal; 
    font-weight: 400; 
    font-size: 20px; 
    
}
.reviews .revrect1 span{
color: #34C7A433;
}
.reviews .revrect2{
position: absolute;
width: 270px;
    height: 110px;
    left: 18px;
    top:250px;
    padding-left:130px;
    padding-top: 20px;
    font-family: 'Qwigley'; 
    font-style: normal; 
    font-weight: 400; 
    font-size: 33px; 
background: #34C7A433;
;
line-height: 35px;
}

.reviews .houseIcon{
    position: absolute;
left:10px;
    top:-10px;
    height:80px;
    }
    .reviews .revrect2 p{
    position: absolute;

    left: 10px;
    top:60px;
    font-family: 'Qwigley'; 
    font-style: normal; 
    font-weight: 400; 
    font-size: 20px; 
    
}
.reviews .revrect2 span{
color: #34C7A433;
}
.availablhouses .houseIcon{
    position: absolute;
    left:-80px;
    top:-27px;
    height: 90px;
    width: 80px;
}
.availablhouses p{
    font-family: 'Qwigley';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    color: #000000;
    mix-blend-mode: darken;
    position: absolute;
    left:10px;
    top:-50px
}
.availablhouses{
    position: absolute;
    width: 300px;
    height: 34px;
    left: 945px;
    top: 650px;
    
  
}
.availablhouses .home1{
    width:350px;
    height:200px;
    top:50px;
    left:-80px;
    background-image: url('./pictures/availablehome-1.jpg');
    position: absolute;
    background-repeat: no-repeat;
    background-size: 350px;
    border-radius: 10px;
}
.availablhouses .home2{
    width:350px;
    height:200px;
    top:270px;
    left:-80px;
    background-image: url('./pictures/availablehome-2.jpg');
    position: absolute;
    background-repeat: no-repeat;
    background-size: 350px;
    border-radius: 10px;
}
.availablhouses .home3{
    width:350px;
    height:200px;
    top:490px;
    left:-80px;
    background-image: url('./pictures/availablehome-3.jpg');
    position: absolute;
    background-repeat: no-repeat;
    background-size: 350px;
    border-radius: 10px;
}
.availablhouses .home4{
    width:350px;
    height:200px;
    top:710px;
    left:-80px;
    background-image: url('./pictures/availablehome-4.jpg');
    position: absolute;
    background-repeat: no-repeat;
    background-size: 350px;
    border-radius: 10px;
}
.availablhouses .home5{
    width:350px;
    height:200px;
    top:930px;
    left:-80px;
    background-image: url('./pictures/availablehome-5.jpg');
    position: absolute;
    background-repeat: no-repeat;
    background-size: 350px;
    border-radius: 10px;
}