
.community p{
    position: absolute;
    width: 600px;
    top:90px;
    left: 80px;
    font-family: 'Qwigley'; 
    font-style: normal; 
    font-weight: 400; 
    font-size: 43px; 
    color: black;
    
}
.home1{
    width:270px;
    height:200px;
    top:230px;
    left:30px;
    background-image: url('./pictures/availablehome-1.jpg');
    position: absolute;
    background-repeat: no-repeat;
    background-size: 350px;
    border-radius: 10px;
    border:1px solid gray;

}
.home1 li{
    position: absolute;
    font-family: 'Playfair Display';
    font-size: 20px;
    top:210px;
    left:40px
}
 .home2{
    width:270px;
    height:200px;
    top:470px;
    left:30px;
    background-image: url('./pictures/availablehome-2.jpg');
    position: absolute;
    background-repeat: no-repeat;
    background-size: 350px;
    border-radius: 10px;
    border:1px solid gray;
}
.home2 li{
    position: absolute;
    font-family: 'Playfair Display';
    font-size: 20px;
    top:210px;
    left:40px
}
.home3{
    width:270px;
    height:200px;
    top:230px;
    left:350px;
    background-image: url('./pictures/availablehome-3.jpg');
    position: absolute;
    background-repeat: no-repeat;
    background-size: 350px;
    border-radius: 10px;
    border:1px solid gray;
}
.home3 li{
    position: absolute;
    font-family: 'Playfair Display';
    font-size: 20px;
    top:210px;
    left:40px
}
.home4{
    width:270px;
    height:200px;
    top:470px;
    left:350px;
    background-image: url('./pictures/availablehome-4.jpg');
    position: absolute;
    background-repeat: no-repeat;
    background-size: 350px;
    border-radius: 10px;
    border-color: 5px solid red;
    border:1px solid gray;
}
.home4 li{
    position: absolute;
    font-family: 'Playfair Display';
    font-size: 20px;
    top:210px;
    left:40px
} 
.home5{
    width:270px;
    height:200px;
    top:710px;
    left:30px;
    background-image: url('./pictures/availablehome-5.jpg');
    position: absolute;
    background-repeat: no-repeat;
    background-size: 350px;
    border-radius: 10px;
    
    border:1px solid gray;
}.home5 li{
    position: absolute;
    font-family: 'Playfair Display';
    font-size: 20px;
    top:210px;
    left:40px
} 
.home6{
    width:270px;
    height:200px;
    top:950px;
    left:30px;
    background-image: url('./pictures/availablehome-1.jpg');
    position: absolute;
    background-repeat: no-repeat;
    background-size: 350px;
    border-radius: 10px;
    
    border: 1px solid gray;
} 
.home6 li{
    position: absolute;
    font-family: 'Playfair Display';
    font-size: 20px;
    top:210px;
    left:40px
}
.home7{
    width:270px;
    height:200px;
    top:710px;
    left:350px;
    background-image: url('./pictures/availablehome-2.jpg');
    position: absolute;
    background-repeat: no-repeat;
    background-size: 350px;
    border-radius: 10px;
    
    border:1px solid gray;
} 
.home7 li{
    position: absolute;
    font-family: 'Playfair Display';
    font-size: 20px;
    top:210px;
    left:40px
}
.home8{
    width:270px;
    height:200px;
    top:950px;
    left:350px;
    background-image: url('./pictures/availablehome-3.jpg');
    position: absolute;
    background-repeat: no-repeat;
    background-size: 350px;
    border-radius: 10px;
    
    border:1px solid gray;
} 
.home8 li{
    position: absolute;
    font-family: 'Playfair Display';
    font-size: 20px;
    top:210px;
    left:40px
}
.features{
    position: absolute; 
    width: 250px; 
    height: 44px; 
    left: 30px; 
    top: 1230px;
    font-family: 'Qwigley'; 
    font-style: normal; 
    font-weight: 400; 
    font-size: 48px; 
    line-height: 60px;
    color: #000000;
}
 .points{
    position: absolute; 
    width: 400px; 
    left:50px; 
    top: 1280px;
    font-family:'calibri'; 
    font-style: normal; 
    font-weight: 400; 
    font-size: 20px; 
    line-height: 35px;
    color: #000000;
}
.setimage{
    position: absolute;
    width: 540px;
    height: 250px;
    left: 680px;
    
    top: 150px;
}

.usestate{
    position:absolute;
    width: 540px;
    height: 250px;
    left: 680px;
    
    top: 150px;
}.details{
    position: absolute;
    
    width: 540px;
    
    height: 800px;
    
    left: 680px;
    
    top: 400px;
    
   background: #BCFBEC;
    
  
   background-size: 600px 250px;
   
   

    border: 1px solid gray;
    
    box-sizing: border-box;
}
.details p{
    position: absolute;
    font-family: 'qwigley';
    font-size: 40px;
    margin-top:100px;
    margin-left: 70px;
    width: 200px;
    top:-388px;
  
}
.details p li{
    position: absolute;
    font-family: 'Playfair Display';
    font-size: 20px;
    margin-top:100px;
    margin-left: 70px;
    width: 200px;
    top:-85px;
    left:100px;
  

}
.details button{
    position: absolute;
    top: -50px;
    left:400px;
}
.description{
    position: absolute;
    font-family: 'Playfair Display';
    font-size: 15px;
    margin-top:100px;
    margin-left: 70px;
    width: 250px;
    top:300px;
    left:630px;
    line-height: 30px;

}
.secondbooking{
    position: absolute;
   background-color:lightgreen;
   border: solid grey;
   width:300px;
   height:80px;
   top:430px;
   left:890px;
   border-radius: 10px;
   font-family: 'qwigley';
   font-size: 30px;
   padding-left: 20px;
  


}
.secondbooking span{
    color:lightgreen;
}

.nearby {
    position: absolute;
   width:500px;
   height:80px;
   top:550px;
   left:900px;
   
  
   font-family: 'Playfair Display';
   font-size: 30px;
  
   
  
}
.nearby ul {
    position: absolute;
    top:30px;
    width: 400px;
    left:-200px;
    display: flex;
   font-family: 'Playfair Display';
   font-size: 17px;
   list-style-type:none;
   justify-content: space-between;
   
}

.overview{
    position: absolute;
    width:400px;
    height:530px;
    top:1290px;
    left:330px;
    background-image: url('./pictures/community overview-1.jpg');
    background-size: 400px 330px;
    background-repeat: no-repeat;
  
}
.map{
    position: absolute;
    width: 400px;
    height: 330px;
    left: 770px;
    top: 1290px;
    background: url('./pictures/constructionmap_1.jpg');
    



}
.overview p{
    position: absolute;
    color:black;
    top:-80px;
    font-family: 'Playfair Display'; 
    font-style: normal; 
    font-weight: 400; 
    font-size: 28px;
}
.map p{
    position: absolute;
    color:black;
    top:-80px;
    font-family: 'Playfair Display'; 
    font-style: normal; 
    font-weight: 400; 
    font-size: 28px;
}


