.gallerybox{
    position:absolute;
    height: 1550px;
    top:150px;
    left: 80px;
    display: grid;
    gap: 30px 30px;
    grid-template-columns: auto auto auto;
   overflow-y: auto;
   overflow-x: hidden;
}
.galleryimages{
   
    width:400px;
    height: 230px;
    border-radius: 5px;
    border: 1.5px solid gray;
}
.galleryimages:hover{
    transform: scale(0.9);

}